<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ACMS</display-name>
  <welcome-file-list>
    <welcome-file>loginView.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.acms.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/AuthenticationFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.acms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/logincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInterviewerController</display-name>
    <servlet-name>AddInterviewerController</servlet-name>
    <servlet-class>com.acms.controller.AddInterviewerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInterviewerController</servlet-name>
    <url-pattern>/AddInterviewerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateScheduleController</display-name>
    <servlet-name>CreateScheduleController</servlet-name>
    <servlet-class>com.acms.controller.CreateScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateScheduleController</servlet-name>
    <url-pattern>/CreateScheduleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCandidateController</display-name>
    <servlet-name>AddCandidateController</servlet-name>
    <servlet-class>com.acms.controller.AddCandidateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCandidateController</servlet-name>
    <url-pattern>/AddCandidateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedbackController</display-name>
    <servlet-name>feedbackController</servlet-name>
    <servlet-class>com.acms.controller.feedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackController</servlet-name>
    <url-pattern>/feedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.acms.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidatesScheduled</display-name>
    <servlet-name>CandidatesScheduled</servlet-name>
    <servlet-class>com.acms.controller.CandidatesScheduled</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidatesScheduled</servlet-name>
    <url-pattern>/CandidatesScheduled</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectedInterviewersController</display-name>
    <servlet-name>SelectedInterviewersController</servlet-name>
    <servlet-class>com.acms.controller.SelectedInterviewersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedInterviewersController</servlet-name>
    <url-pattern>/SelectedInterviewersController</url-pattern>
  </servlet-mapping>
</web-app>